body {
  margin: 0;
  padding: 0;
  max-width: 100vw;
}
header {
  height: 8vh;
  
}

header > nav > ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  align-items: center;
}

#bottom_header {
  display: none;
}

header > nav > ul a {
  text-decoration: none;
  color: black;
  font-size: 1.5em;
  transition-duration: 1s;
  transition-property: font-size, border-bottom;
}

header > nav > ul a:hover {
  font-size: 2.5em;
  border-bottom: 1px solid black;
  margin-bottom: 5px;
}

.title {
  font-family: "Indie Flower", cursive;

  height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url("./assets/background.jpg");
  background-position: bottom;
  background-size: cover;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f6f9fc;
}

div.cards {
  display: flex;
  flex-direction: row;
}

section.card {
  max-width: 40vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding: 25px;
  background-color: #7795f8;
  border-radius: 15%;
}

section.card img {
  height: 25vh;
  width: 25vw;
  border-radius: 25%;
}
section.card h3 {
  color: #f9fafa;
  text-transform: uppercase;
  font-weight: bolder;
}

section.card p {
  line-height: 1.8em;
  font-size: 1.5em;
  color: rgb(31, 29, 29);
}

section.card a {
  font-size: 1.5em;
  color: rgb(255, 255, 255);
  font-weight: bold;
}
.title button {
  box-shadow: -27px 14px 42px -1px rgba(0, 0, 0, 0.75);
  color: #7795f8;
  background-color: white;
  border: none;
  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: 100;
  border-radius: 20%;
  padding: 10px;
  animation-name: btn;
  animation-iteration-count: infinite;
  animation-duration: 10s;
}
.title > h1 {
  padding-top: 10vh;
}

footer {
  display: flex;
  justify-content: space-around;
  padding-top: 15vh;
  padding-bottom: 5vh;
}

footer img {
  height: 10vh;
  width: 7vw;
}

@keyframes btn {
  30% {
    transform: translateX(-100px);
    padding: 15px;
    background-color: #7795f8;
  }
  60% {
    transform: translateX(100px);
    padding: 30px;
    background-color: #4862b6;
    color: rgb(248, 245, 245);
  }

  90% {
    transform: translateX(0px);
    padding: 15px;
    background-color: #0e162f;
    color: white;
  }
}

@media screen and (max-width: 768px) {
  header ul li:nth-child(3),
  li:nth-child(4) {
    display: none;
  }

  footer {
    display: none;
  }

  #bottom_header {
    display: unset;
  }

  div.cards {
    flex-direction: column;
  }
  section.card {
    max-width: 80vw;
    text-align: center;
  }
}
